In [2]:
import sqlite3
import pandas as pd

# Connexion à la base de données
conn = sqlite3.connect('SNCF_LOST.db')

# Extraction des données de la table ObjetPerdu
query = '''
SELECT Date, SUM(1) AS NbObjets
FROM ObjetPerdu
GROUP BY Date
'''
df_objets = pd.read_sql(query, conn)

# Fermeture de la connexion à la base de données
conn.close()

# Affichage des données extraites
print(df_objets.head())

                        Date  NbObjets
0  2019-01-01T10:46:27+00:00         1
1  2019-01-01T13:26:48+00:00         1
2  2019-01-01T16:29:24+00:00         1
3  2019-01-01T16:39:43+00:00         1
4  2019-01-01T18:33:20+00:00         1

In [10]:
import sqlite3
import pandas as pd
import folium
from folium.plugins import MarkerCluster
from streamlit_folium import folium_static

# Connexion à la base de données
conn = sqlite3.connect('SNCF_LOST.db')
cur = conn.cursor()

# Requête SQL pour récupérer le nombre d'objets trouvés par gare et par année
query = """
SELECT Gare.Nom AS NomGare, Gare.Position AS Position, ObjetPerdu.AnneePerte AS Annee, 
       ObjetPerdu.TypeObjet AS TypeObjet, COUNT(*) AS NbObjets, 
       SUM(Trafic.Frequentation) AS Frequentation
FROM ObjetPerdu
JOIN Gare ON ObjetPerdu.IdGare = Gare.Id
JOIN Trafic ON ObjetPerdu.IdGare = Trafic.IdGare AND ObjetPerdu.AnneePerte = Trafic.Annee
WHERE ObjetPerdu.AnneePerte >= 2019 AND ObjetPerdu.AnneePerte <= 2022
GROUP BY Gare.Id, ObjetPerdu.AnneePerte, ObjetPerdu.TypeObjet
"""

# Récupération des données dans un DataFrame pandas
df = pd.read_sql_query(query, conn)

# Conversion de la colonne Position en deux colonnes Latitude et Longitude
df[['Latitude', 'Longitude']] = pd.DataFrame(df['Position'].tolist(), index=df.index)

DatabaseError: Execution failed on sql '
SELECT Gare.Nom AS NomGare, Gare.Position AS Position, ObjetPerdu.AnneePerte AS Annee,
       ObjetPerdu.TypeObjet AS TypeObjet, COUNT(*) AS NbObjets,
       SUM(Trafic.Frequentation) AS Frequentation
FROM ObjetPerdu
JOIN Gare ON ObjetPerdu.IdGare = Gare.Id
JOIN Trafic ON ObjetPerdu.IdGare = Trafic.IdGare AND ObjetPerdu.AnneePerte = Trafic.Annee
WHERE ObjetPerdu.AnneePerte >= 2019 AND ObjetPerdu.AnneePerte <= 2022
GROUP BY Gare.Id, ObjetPerdu.AnneePerte, ObjetPerdu.TypeObjet
': no such table: Trafic

In [14]:

import sqlite3
import pandas as pd
import folium
from folium.plugins import MarkerCluster
from streamlit_folium import folium_static

# Connexion à la base de données
conn = sqlite3.connect('SNCF_LOST.db')
cur = conn.cursor()

# Requête SQL pour récupérer le nombre d'objets trouvés par gare et par année
query = """
SELECT Gare.Nom AS NomGare, Gare.Position AS Position, ObjetPerdu.AnneePerte AS Annee, 
       ObjetPerdu.TypeObjet AS TypeObjet, COUNT(*) AS NbObjets, 
       SUM(Trafic.Frequentation) AS Frequentation
FROM ObjetPerdu
JOIN Gare ON ObjetPerdu.IdGare = Gare.Id
JOIN Trafic ON ObjetPerdu.IdGare = Trafic.IdGare AND ObjetPerdu.AnneePerte = Trafic.Annee
WHERE ObjetPerdu.AnneePerte >= 2019 AND ObjetPerdu.AnneePerte <= 2022
GROUP BY Gare.Id, ObjetPerdu.AnneePerte, ObjetPerdu.TypeObjet
"""

# Récupération des données dans un DataFrame pandas
df = pd.read_sql_query(query, conn)

# Conversion de la colonne Position en deux colonnes Latitude et Longitude
df[['Latitude', 'Longitude']] = pd.DataFrame(df['Position'].tolist(), index=df.index)

# Création de la carte avec Folium
map_objets = folium.Map(location=[48.8566, 2.3522], zoom_start=12)

# Création des clusters de marqueurs
marker_cluster = MarkerCluster().add_to(map_objets)

# Parcours des données et ajout des marqueurs
for index, row in df.iterrows():
    nom_gare = row['NomGare']
    lat = row['Latitude']
    lon = row['Longitude']
    type_objet = row['TypeObjet']
    nb_objets = row['NbObjets']
    frequentation = row['Frequentation']
    
    # Création du message du marqueur
    message = f"Gare : {nom_gare}<br>" \
              f"Type d'objet : {type_objet}<br>" \
              f"Nombre d'objets trouvés : {nb_objets}<br>" \
              f"Frequentation : {frequentation}"
    
    # Ajout du marqueur au cluster
    folium.Marker(location=[lat, lon], tooltip=nom_gare, popup=message).add_to(marker_cluster)

# Affichage de la carte avec Streamlit
folium_static(map_objets)

DatabaseError: Execution failed on sql '
SELECT Gare.Nom AS NomGare, Gare.Position AS Position, ObjetPerdu.AnneePerte AS Annee,
       ObjetPerdu.TypeObjet AS TypeObjet, COUNT(*) AS NbObjets,
       SUM(Trafic.Frequentation) AS Frequentation
FROM ObjetPerdu
JOIN Gare ON ObjetPerdu.IdGare = Gare.Id
JOIN Trafic ON ObjetPerdu.IdGare = Trafic.IdGare AND ObjetPerdu.AnneePerte = Trafic.Annee
WHERE ObjetPerdu.AnneePerte >= 2019 AND ObjetPerdu.AnneePerte <= 2022
GROUP BY Gare.Id, ObjetPerdu.AnneePerte, ObjetPerdu.TypeObjet
': no such table: Trafic

In [ ]:
"Temperature" et elle a trois colonnes :

lua

"id" : un identifiant unique pour chaque entrée dans la table.
"Date" : la date à laquelle la température a été mesurée.
"TempMed" : la température moyenne mesurée à la date spécifiée.


La deuxième table s'appelle "Gare" et elle contient sept colonnes :

rust

"id" : un identifiant unique pour chaque entrée dans la table.
"Nom" : le nom de la gare.
"Freq_2019" : la fréquence d'utilisation de la gare en 2019.
"Freq_2020" : la fréquence d'utilisation de la gare en 2020.
"Freq_2021" : la fréquence d'utilisation de la gare en 2021.
"Freq_2022" : la fréquence d'utilisation de la gare en 2022.
"Longitude" : en FLOAT
"Latitude" : en FLOAT

La troisième table s'appelle "ObjetPerdu" et elle a cinq colonnes :

rust

"id" : un identifiant unique pour chaque entrée dans la table.
"TypeObjet" : le type d'objet perdu (par exemple, un téléphone portable, un portefeuille, etc.).
"Date" : la date à laquelle l'objet a été perdu.
"GarePerte" : le nom de la gare où l'objet a été perdu.
"AnneePerte" : l'année au cours de laquelle l'objet a été perdu.

In [18]:
import sqlite3
import pandas as pd
import folium
import streamlit as st

# Étape 1: Importer les bibliothèques nécessaires

# Étape 2: Récupérer les données de la table "Gare"
conn = sqlite3.connect('/home/apprenant/Documents/DEV_IA/SNCF_BRIEF/SNCF_LOST/SNCF_LOST.db')
df_gare = pd.read_sql_query("SELECT * from Gare", conn)

# Étape 3: Récupérer les données de la table "ObjetPerdu"
df_objet = pd.read_sql_query("SELECT * from ObjetPerdu", conn)

# Étape 4: Créer une carte folium centrée sur Paris
m = folium.Map(location=[48.8566, 2.3522], zoom_start=12)

# Étape 5: Calculer le nombre total d'objets perdus pour chaque gare
for i, row in df_gare.iterrows():
    nom_gare = row['Nom']
    freq_2019 = row['Freq_2019']
    freq_2020 = row['Freq_2020']
    freq_2021 = row['Freq_2021']
    freq_2022 = row['Freq_2022']
    longitude = row['Longitude']
    latitude = row['Latitude']
    
    objets_par_gare = {}
    for annee in ['2019', '2020', '2021', '2022']:
        objets_par_gare[annee] = {}
        for objet in df_objet['TypeObjet'].unique():
            objets_par_gare[annee][objet] = df_objet[(df_objet['GarePerte'] == nom_gare) & (df_objet['AnneePerte'] == annee) & (df_objet['TypeObjet'] == objet)].shape[0]
    
    # Étape 6: Ajouter un marqueur à la carte pour chaque gare
    if st.sidebar.checkbox(nom_gare):
        if st.sidebar.checkbox('Afficher le nombre d\'objets trouvés par année'):
            for annee in objets_par_gare.keys():
                st.sidebar.write('Année : ', annee)
                for objet in objets_par_gare[annee].keys():
                    st.sidebar.write(objet, ':', objets_par_gare[annee][objet])
        else:
            freq = freq_2022
            st.sidebar.write('Fréquence en 2022:', freq)
            
        marker = folium.Marker(
            location=[latitude, longitude],
            popup=nom_gare + ': ' + str(freq),
            icon=folium.Icon(color='red')
        )
        marker.add_to(m)
    

    # Afficher la carte
    st.write(m)